I am using a {{ os_name }} command line.
I need to: {{ user_input }}

Please, use the following JSON format for your answer. 
{
    "commands": ~Array of commands~,
    {% if include_explanation %}
    "explanation": ~Summary of the commands, short text~,
    {% endif %}
    "isDangerous": ~If the generated command is dangerous for the operating system, this should be True~.
}

Please, the answer MUST be ONLY a valid JSON string. 

Answer:
